ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: flex;
}

li {
	float: right;
	display: center;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

ul a {
	display: flex;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 15px;
	padding: 10px;
	letter-spacing: 1px;
}

ul li {
	float: left;
	margin: 0;
	padding: 0;
	display: table-row;
}

ul ul {
	display: center;
	position: absolute;
	top: 100%;
	left: 0;
	background: #eee;
	padding: 0;
}

ul ul li {
	float: none;
	width: 150px;
	display: center;
}

ul ul a {
	line-height: 120%;
	padding: 10px 15px;
}

ul li:hover > ul {
	display: list-item;
}
